body{
    background-color: brown;
}
header {
    text-align: center;
}
.low {
    position: relative;
    top: 500px;
    text-align: center;
}
.navbar {
    background-color: black;
}
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}

.all-browsers > h1, .browser {
    margin: 30px;
    padding: 5px;
}

.browser {
    background: white;
}

.browser > h2, p {
    margin: 14px;
    font-size: 90%;
}
.news {
    position: relative;
    top: 75px;
}